.profile__edit{
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  border: 1px solid #fff;
  background-size: cover;
  background-color: transparent;
  margin: 14px 0 0 18px;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.3s linear;
  opacity: 1;
}

.profile__edit:hover {
  opacity: .6;
}
  
@media screen and (max-width: 984px) {
  .profile__edit {
    margin-left: 10px;
    margin-top: 8px;
    height: 18px;
    width: 18px;    
  }
}  
